/* Main */
.main {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    flex: 1;
}

body {
    background-color: #f9f9ff;
}

.header {
    display: flex;
    justify-content: space-between;
        align-items: flex-start;
    }
    
    .header__left {
        display: flex;
    flex-direction: column;
    row-gap: 12px;
}
/* Analytic */
.card-analytic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

.card-analytics {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid var(--color-border);
    padding: 24px;
    border-radius: 12px;
    background-color: white;
}

/* Table */
.inventory {
    overflow: auto;
    border-radius: 12px;
    border: 1px solid var(--color-border);
}

/* Search */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    column-gap: 8px;
    background-color: white;
    border-radius: 8px;
    padding: 4px 12px;
    min-width: 300px;
}

.search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.search input:focus {
    outline: none;
}

.search-icon svg {
    width: 18px;
}

/* Filters */
.filters {
    display: flex;
    gap: 12px;
        flex-wrap: wrap;
    }
    
    .filters>* {
        flex: 1;
}

/* Add button */
.add-button {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 8px;
    column-gap: 8px;
    padding: 5px 12px;
}

.add-button svg {
    width: 15px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination button {
    width: 44px;
    height: 44px;
    background-color: white;
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
}

.pagination button:nth-child(2) {
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
}

.pagination button:hover {
    background-color: var(--color-primary);
    color: white;
}
/* Stock */
.stock-status {
    font-size: 10px !important;
    text-wrap: nowrap;
    padding: 4px 8px;
    border-radius: 12px;
}

.stock-ok {
    background-color: rgb(188, 244, 188);
    color: rgb(8, 60, 8);
}

.stock-warn {
    background-color: rgb(255, 233, 168);
    color: rgb(87, 67, 6);
}

.stock-danger {
    background-color: #ffd0d0;
    color: #960000;
}

.select {
    width: 100%;
    border: 1px solid var(--color-border);
    background-color: white;
    border-radius: 8px;
    padding: 9px 12px;
    min-width: 300px;
    cursor: pointer;
}