/* Main */
.main {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    width: 100%;
}

body {
    background-color: #f9f9ff;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

/* Analytic */
.card-analytic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

.card-analytics {
    display: flex;
    min-width: 150px;
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid var(--color-border);
    padding: 24px;
    border-radius: 12px;
    background-color: white;
}

.card-analytics-icon {
    width: 38px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.card-analytics-icon svg {
    scale: 80%;
    fill: rgba(0, 0, 0, 0.746);
}

.card-analytics-title {
    font-size: 12px;
}

.card-analytics-amount {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
}

.card-analytics__header {
    display: flex;
    justify-content: space-between;
}

.card-analytics-trend {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    width: fit-content;
    column-gap: 8px;
    height: fit-content;
    padding-inline: 5px;
}

.card-analytics-trend svg {
    fill: rgb(85, 193, 85);
}

.card-analytics-trend p {
    font-size: 10px;
}

/* Table */
.inventory {
    overflow: auto;
    border-radius: 12px;
    border: 1px solid var(--color-border);
}

table {
    width: 100%;
}

thead tr td {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    text-wrap: nowrap;
    font-weight: 510;
    color: rgb(22, 22, 22);
}

table tr td {
    padding: 12px 24px;
}

tr {
    border-bottom: 1px solid var(--color-border);
}

tbody tr td {
    padding-block: 32px;
}

.stock--available p {
    background-color: rgb(226, 250, 226);
    color: rgb(21, 181, 21);
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    padding: 4px 8px;
    width: fit-content;
    font-weight: 510;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-border);
    column-gap: 8px;
    background-color: white;
    border-radius: 8px;
    padding: 4px 12px;
    min-width: 300px;
}

.search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.search input:focus {
    outline: none;
}

/* Actions */
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add button */
.add-button {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 8px;
    column-gap: 8px;
    padding: 5px 12px;
}

.add-button svg {
    width: 15px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination button {
    width: 44px;
    height: 44px;
    background-color: white;
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 300;
}

.pagination button:nth-child(2) {
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
}

.pagination button:hover {
    background-color: var(--color-primary);
    color: white;
}