body {
    background-image: url('/assets/images/bg-login.png');
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.301);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    padding: 60px 50px;
    flex-direction: column;
    row-gap: 42px;
    min-width: 330px;
    box-shadow: 5px 5px 20px #322e2e05;
}

.logo {
    width: 70px;
    margin-inline: auto;
}

.logo img {
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.subtitle {
    font-size: 12px;
    font-weight: 300;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

/* Alert component */
.alert {
    display: flex;
    align-items: center;
    column-gap: 14px;
    background-color: rgb(255, 217, 217);
    padding: 16px 18px;
    text-overflow: ellipsis;
    border-left: 5px solid rgb(255, 90, 90);
}

.alert__icon svg {
    fill: rgb(255, 90, 90);
}

.alert__text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.alert__title {
    font-size: 13px;
    color: rgb(199, 44, 44);
    font-weight: 500;
}

.alert__message {
    font-size: 11px;
    color: rgb(199, 44, 44);
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

/* Input text */
.input {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    width: 100%;
}

.input__label {
    font-size: 12px;
    font-weight: 500;
}

.input {
    width: 100%;
    cursor: pointer;
}

.input input {
    width: 100%;
    border: none;
    font-size: 12px;
}

.input input::placeholder {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.289);
}

.input input:focus {
    outline: none;
}

.input__inner:focus-within {
    border: 1px solid #0a4695;
}

.input__icon {
    fill: rgba(69, 69, 69, 0.356);
}

.input__inner {
    display: flex;
    column-gap: 12px;
    align-items: center;
    border: 1px solid rgb(69, 69, 69);
    padding: 4px 12px;
}

/* Input checkbox */
.checkbox {
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
}

/* Button */
.button {
    border: none;
    font-size: 12px;
    padding: 8px 12px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}

.button:active {
    filter: brightness(80%);
}

.button--primary {
    background-color: var(--color-primary);
    color: white;
}

/* Actions */
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.link {
    font-size: 12px;
    color: var(--color-primary);
}

.link:hover {
    text-decoration: underline;
}

